<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Banana Site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item dropdown" *ngFor="let link of links">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active">
            {{ link.title }}
          </a>
          <ul class="dropdown-menu"  *ngFor="let child of link.children">
            <li><a class="dropdown-item" [routerLink]=child.url  routerLinkActive="active">{{ child.title }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
